{% extends "base.html" %}
{% block content %}
		<div class="formwrapper">
			<form action="" method="post" name="loginform">
				{{form.hidden_tag()}}
				<h3>give me a peice of your mind</h3>
				
				{% if form.errors.nickname_or_email or form.errors.password %}
				<div class="errorwrap">
					<p>{% for error in form.nickname_or_email.errors %}
						{{ error }}
						{% endfor %}</p>
					<p>{% for error in form.password.errors %}
						{{ error }}
						{% endfor %}</p>
				</div>
				{% endif %}
				
				{{ form.name(placeholder="name", size = 30) }}

				{{ form.email(placeholder="email", size = 30) }}
				{{ form.text(placeholder="type your comment in this silly box. :) ")}}
				{{ form.submit }} <a href="{{url_for('index')}}">Back</a>
			</form>
<script>
(function() {
	$('button').on('click', function() {
		$('form')[0].rest()
	});
})();
</script>
{% endblock %}