<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kenny | Blog</title>
	<link href="/static/css/style.css" rel="stylesheet" media="screen"/>
</head>

<body>

	<div class="main">
		<section class="mainbody">
			<h1 id="me"><span>This Is Me!</span></h1>
			<h2>Hi. I'm Kenny, a web-mage and thing-doer from <strong>AUS</strong> living in <strong>PEK</strong>.</h2>

			<p>This is where you can learn more about me. If you'd like to see my previous projects, go ahead and <strong><a href="#">click here</a></strong>. But that's not all I'm into: if you're looking for something else or just want to say hi, be sure to <strong><a href="#">drop me a line.</a></strong></p>
			
			<h4>Add me on Wechat</h4>

			<p id="QR"><a>This is where my QR code should go.</a></p>

			<ul class="sharelist">
				<li><a href="https://twitter.com/kenjinpirman">Twitter</a></li>
				<li><a href="#">Weibo</a></li>
				<li><a href="https://github.com/kenjinp/">GitHub</a></li>
				<li><a href="kenjin.p@gmail.com">eMail</a></li>
			</ul>

			<p class="copywrite">something<a href="#">else</a></p>		
		</section>	

	</div>

</body>

