<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kenneth | Resume</title>
	<link href="/static/css/style.css" rel="stylesheet" media="screen"/>
</head>

<body>
	<section class="bodywrapper">
		<div class="heading">
			<div class="h-right">
				<h1><a href="{{url_for('index')}}">Kenny Pirman</a></h1>
				<h2>Beijing</h2>
			</div>
			<h1 id="small-me"><span>This my picture</span></h1>
		</div>
		<hr>
		<section class="row">
			<div class="col3"><h3>About</h3></div>
			<div class="col9">
				<p>
					Hey friends, I'm a web developer who loves
					making lemonade and thinking about spaceships. 
					These days I do 3D printing with THRE3D and help 
					organize Beijing's maker community. I also do lots
					of film translations, random app projects, and boardgames.
				</p>
				<strong>eMail: </strong>kenjin.p@gmail.com
				<strong>Twitter: </strong><a href="https://twitter.com/kenjinpirman">kenjinpirman</a>
				<strong>Github: </strong><a href="https://github.com/kenjinp">kenjinp</a>
			</div>
		</section>
		<section class="row">
		<div class="col3"><h3>About</h3></div>
		<div class="col9">
			<div class="skills">
				<p>
					Hey friends, I'm a web developer who loves
					making lemonade and thinking about spaceships. 
					These days I do 3D printing with THRE3D and help 
					organize Beijing's maker community. I also do lots
					of film translations, random app projects, and boardgames.
				</p>
				<strong>eMail: </strong>kenjin.p@gmail.com
				<strong>Twitter: </strong><a href="https://twitter.com/kenjinpirman">kenjinpirman</a>
				<strong>Github: </strong><a href="https://github.com/kenjinp">kenjinp</a>
			</div>
		</div>
		</section>

	</section>	
</body>